body{
    box-sizing:border-box;
    margin: 0;
}
.wrraper{
    width: 100%;
    margin: 0;
}
.contacts{
    background-color:rgb(240, 242, 245);
    display: flex;
    justify-content: space-between;
}
p{
   display: inline-block;
    padding-right: 30px;
}
.contact{
   display: inline-block;
   padding-left: 50px;
}
.social-media{
    margin-right: 20px;
    padding-top: 15px;

}
i{
    margin-right: 30px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo-sign{
  display: inline-block;  
  margin-left: 50px;
  color:rgb(60, 60, 108);
  font-size: xxx-large;
  font-weight: bold;
}
nav{
    display: inline-block;
    margin-right: 50px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 60px;
    color:  rgb(60, 60, 108);
}
a{
    margin-right: 30px;

}
a:hover{
    cursor: pointer;
    color: blue;
}
.search{
    padding-top: 65px;
}
main{
    background-image: url(../images/MadeDesign.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}
main h1{
    
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 200px;
}
main h6{
    text-align: center;
    font-size: large;
    color: white;
}
.start{
    background-color: #40E0D0;
    color: white;
    border: 0;
    height: 50px;
    width: 250px;
    font-size: larger;
    font-weight: bold;
    display: block;
    margin: auto;
    
}
.start:hover{
    background-color: #2e3938;
}
.beautiful-clean h1{
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  color:  rgb(60, 60, 108);
}
h5{
   text-align: center;
   font-size: medium;
   color:  rgb(60, 60, 108);
}
.beautiful-clean-desc{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.beautiful-clean-desc h2{
    display: inline-block;
}
.latest-work{
    background-color: #EBECF0 ;
    height: 1000px;
}
.latest-work h1{
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  color:  rgb(60, 60, 108);
}
.grand-motel{
    display: inline-block;
    margin-left: 100px;
    width: 40%;
}
.grand-motel p{
    color: black;
    background-color: white;
    display: table-cell;
    padding-top: 10px;
    font-size: x-large;
    font-weight: bold;
    width: 556px;
    height: 50px;
    padding-left: 20px;
}
.grand-motel img{
    margin-bottom: -10px;
    width: 100%;
   
}

.creative-startup{
    display: inline-block;
    margin-left: 100px;
    width: 40%;
}
.creative-startup p {
    color: black;
    background-color: white;
    display: table-cell;
    padding-top: 10px;
    font-size: x-large;
    font-weight: bold;
    width: 556px;
    height: 50px;
    padding-left: 20px;
}
.creative-startup img{
     margin-bottom: -10px;
     width: 100%;
     height: 420px;
   
}
.latest-work-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:100px;
}
.work-with-us{ 
  height: 300px;
} 
.work-with-us h1{
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  color:  rgb(60, 60, 108);
}
footer{
    background-color: #384B60;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.who-we-are p{
   color:white;
  font-size: xxx-large;
  font-weight: bold;
  margin: auto;
}
.who-we-are h2{
   color:white;
   font-weight: bold;
   padding-top: 20px;
}
.who-we-are h5{
   color:white;
   text-align: start;
}
.who-we-are h4{
    display: inline-block;
    color: white;
}
.footer-latest-work-img img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.footer-latest-work h2{
   color:white;
   font-weight: bold;
   padding-top: 20px;
}
.pagination{
    padding-top: 20px;
    display: table;
    margin: auto;
}
.pagination a{
    border: solid;
    border-radius: 100%;
    background-color: black;
}
.pagination a:hover{
  background-color:  #40E0D0;
}
.get-in-touch h2{
   color:white;
   font-weight: bold;
   padding-top: 20px;
}
.get-in-touch h5{
    color:white;
   text-align: start;
}
.get-in-touch-contact i{
    display: block;
}
.free-updates h2{
  color:white;
   font-weight: bold;
   padding-top: 20px;
}
.free-updates h5{
  color:white;
   text-align: start;
}
.email{
    position: relative;
    width: 300px;
    height: 30px;
    background-color: #36454F;
    border: 0;
}
.Subscribe{
    position: absolute;
    margin-left: -100px;
    padding-top: 10px;
    background-color: #40E0D0;
    color: white;
    border: 0;
    border-radius: 3px;
}
.Subscribe:hover{
 background-color: #2e3938;
}
.page-footer{
    background-color:#2b3a4b ;
    color:rgb(78 78 98) ;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
}
.page-footer h6{
    margin-left: 20px;
    margin-top: 5px;
}

/*for mobile*/
@media (max-width:480px){
 .contact p{
    display: block;
 }
 .latest-work p{
    font-size: medium;
 }
 .creative-startup img{
    height: 135px;
    padding-top: 30px;
 }
 .latest-work-group{
    flex-wrap: wrap;
    margin-top: 30px;
 }
 .latest-work-group img{
    width: 35%;
    margin-top: inherit;
   
 }
 .grand-motel{
    display: block;
    margin: auto;
 }
 .creative-startup{
    display: block;
    margin: auto;
 }
 footer h2 , h5{
    font-size: smaller;
 }
 .who-we-are p{
    font-size: medium;
 }
 .Subscribe{
    margin-left: 10px;
    width: 85px;
 }
 .email{
    display: block;
    width: 90px;
 }
 .links{
    font-size: small;
    justify-content: flex-end;
    margin-left: 30px;
 }
 .pagination{
    padding-top: 10px;
 }
}
 
/*smart phones & tablets*/
@media (min-width:481px) and (max-width:767px){

}
/*small screen*/
@media (min-width:768px) and (max-width:991px){

}
 
/*medium screen*/
@media (min-width:992px) and (max-width:1199px){

}


